# Hunting for silver fir on Corsica

In [3]:
# Read in Tallo and see if any sites have high proportoin of certain trees

import pandas as pd 

data_dir = '../data/silver_fir/'
df = pd.read_csv(f'{data_dir}corsica_trees.csv')
df

,X,Y,Name,description,timestamp,begin,end,altitudeMode,tessellate,extrude,visibility,drawOrder,icon
0,9.113119,41.98702,PUN-01,No description available,NaN,NaN,NaN,NaN,-1,0,-1,NaN,NaN
1,9.113079,41.98670,PUN-02,No description available,NaN,NaN,NaN,NaN,-1,0,-1,NaN,NaN
2,9.113306,41.98626,PUN-03,No description available,NaN,NaN,NaN,NaN,-1,0,-1,NaN,NaN
3,9.113068,41.98558,PUN-04,No description available,NaN,NaN,NaN,NaN,-1,0,-1,NaN,NaN
4,9.113336,41.98494,PUN-05,No description available,NaN,NaN,NaN,NaN,-1,0,-1,NaN,NaN
5,9.112913,41.98459,PUN-06,No description available,NaN,NaN,NaN,NaN,-1,0,-1,NaN,NaN
6,9.112361,41.98380,PUN-07,No description available,NaN,NaN,NaN,NaN,-1,0,-1,NaN,NaN
7,9.112396,41.98357,PUN-08,No description available,NaN,NaN,NaN,NaN,-1,0,-1,NaN,NaN
8,9.112569,41.98296,PUN-09,No description available,NaN,NaN,NaN,NaN,-1,0,-1,NaN,NaN
9,9.112055,41.98282,PUN-10,No description available,NaN,NaN,NaN,NaN,-1,0,-1,NaN,NaN
10,9.111434,41.98268,PUN-11,No description available,NaN,NaN,NaN,NaN,-1,0,-1,NaN,NaN
11,9.110766,41.98270,PUN-12,No description available,NaN,NaN,NaN,NaN,-1,0,-1,NaN,NaN
12,9.110288,41.98215,PUN-13,No description available,NaN,NaN,NaN,NaN,-1,0,-1,NaN,NaN
13,9.109774,41.98174,PUN-14,No description available,NaN,NaN,NaN,NaN,-1,0,-1,NaN,NaN
14,9.109093,41.98098,PUN-15,No description available,NaN,NaN,NaN,NaN,-1,0,-1,NaN,NaN
15,9.108641,41.98092,PUN-16,No description available,NaN,NaN,NaN,NaN,-1,0,-1,NaN,NaN
16,9.108233,41.98064,PUN-17,No description available,NaN,NaN,NaN,NaN,-1,0,-1,NaN,NaN
17,9.107934,41.98058,PUN-18,No description available,NaN,NaN,NaN,NaN,-1,0,-1,NaN,NaN
18,9.106705,41.97922,PUN-19,No description available,NaN,NaN,NaN,NaN,-1,0,-1,NaN,NaN
19,9.105567,41.97728,PUN-20,No description available,NaN,NaN,NaN,NaN,-1,0,-1,NaN,NaN
20,9.105343,41.97638,PUN-21,No description available,NaN,NaN,NaN,NaN,-1,0,-1,NaN,NaN
21,9.105396,41.97592,PUN-22,No description available,NaN,NaN,NaN,NaN,-1,0,-1,NaN,NaN
22,9.104577,41.97530,PUN-23,No description available,NaN,NaN,NaN,NaN,-1,0,-1,NaN,NaN
23,9.103146,41.97476,PUN-24,No description available,NaN,NaN,NaN,NaN,-1,0,-1,NaN,NaN

In [4]:
# Just save one of these and we're going to make two locations, the other is a target site
df = pd.DataFrame()
df['lat'] = [41.98702, 41.59315]
df['lon'] = [9.113119, 9.09185]
df['label'] = ['corsica', 'levie']
df.to_csv(f'{data_dir}planet_scope.csv', index=False)

# Bring in coords and get the images and locations of these trees

In [6]:
from remseno import *
import pandas as pd

In [7]:
c = Coords(f'{data_dir}planet_scope.csv', x_col='lon', y_col='lat', label_col='label',
                   id_col='label', sep=',', class1='corsica', class2='levie', crs='EPSG:4326')

--------------------------------------------------------------------------------
Removed rows not in class1 or class2 i.e.	corsica	levie	 in column:	label	Your dataset origionally had:	2
Now you have:	2
--------------------------------------------------------------------------------

In [20]:
df = c.df
ys = df['lat'].values
bbs = []
meters = 1000
for i, x in enumerate(df['lon'].values):
    bbs.append(c.build_polygon_from_centre_point(x, ys[i], meters, meters, crs='EPSG:4326'))

In [21]:
polygons = []
x0, x1, y0, y1 = [], [], [], []
for bs in bbs:
    cs = []
    for b in bs:
        cs.append([b[0], b[1]])
    polygons.append(cs)
    x0.append(min([x[1] for x in cs]))
    x1.append(max([x[1] for x in cs]))
    y0.append(min([x[0] for x in cs]))
    y1.append(max([x[0] for x in cs]))
df['x0'] = x0
df['x1'] = x1
df['y0'] = y0
df['y1'] = y1

In [22]:
import os
import json
import requests
from requests.auth import HTTPBasicAuth
# import os module to access enviornmental modules

import requests

os.environ['PL_API_KEY']='PLAK5a21e86c2faf452195d43c3ca3f318ee'
# pass in your API key
API_KEY = 'PLAK5a21e86c2faf452195d43c3ca3f318ee'
PLANET_API_KEY = os.getenv('PL_API_KEY')
# Setup the API Key from the `PL_API_KEY` environment variable

BASE_URL = "https://api.planet.com/data/v1"

session = requests.Session()
#setup a session

session.auth = (PLANET_API_KEY, "")
#authenticate session with user name and password, pass in an empty string for the password

res = session.get(BASE_URL)
#make a get request to the Data API

print(res.status_code)
# test response

print(res.text)
# print response body
south_gte = "2022-12-01T00:00:00.000Z"
south_lte = "2023-02-31T00:00:00.000Z"

north_gte = "2022-06-01T00:00:00.000Z"
north_lte = "2023-08-31T00:00:00.000Z"

200
{"_links": {"_self": "https://api.planet.com/data/v1/", "asset-types": "https://api.planet.com/data/v1/asset-types/", "item-types": "https://api.planet.com/data/v1/item-types/", "spec": "https://api.planet.com/data/v1/spec"}}

In [28]:
def build_filter(position, filename):
    if position[0][0] < 0:
        gte = south_gte
        lte = south_lte
    else:
        gte = north_gte
        lte = north_lte

    geojson_geometry = {
      "type": "Polygon",
      "coordinates": [
            position
      ]
    }
    # get images that overlap with our AOI 
    geometry_filter = {
      "type": "GeometryFilter",
      "field_name": "geometry",
      "config": geojson_geometry
    }

    # get images acquired within a date range
    date_range_filter = {
      "type": "DateRangeFilter",
      "field_name": "acquired",
      "config": {
        "gte": gte,
        "lte": lte
      }
    }

    # only get images which have <50% cloud coverage
    cloud_cover_filter = {
      "type": "RangeFilter",
      "field_name": "cloud_cover",
      "config": {
        "lte": 0.1
      }
    }

    # combine our geo, date, cloud filters
    combined_filter = {
      "type": "AndFilter",
      "config": [geometry_filter, cloud_cover_filter, date_range_filter], 
    }

    item_type = "PSScene"

    # API request object
    search_request = {
      "item_types": [item_type], 
      "filter": combined_filter
    }

    # fire off the POST request
    search_result = \
      requests.post(
        'https://api.planet.com/data/v1/quick-search',
        auth=HTTPBasicAuth(API_KEY, ''),
        json=search_request)

    geojson = search_result.json()
    
    geo_df = pd.DataFrame() # Add in the things we're looking at
    ids = []
    azi = []
    cloud_cover = []
    sun_azi = []
    # Also only want it if ortho_analytic_8b_sr is availabe in assets
    asset = 'ortho_analytic_8b_sr'
    for image in geojson['features']:
        if asset in image['assets']:
            cloud_cover.append(image['properties']['cloud_cover'])
            ids.append(image['id'])
            sun_azi.append(image['properties']['sun_azimuth'])
            azi.append(image['properties']['satellite_azimuth'])
    geo_df['ids'] = ids
    geo_df['sun_azimuth'] = sun_azi
    geo_df['satellite_azimuth'] = azi
    geo_df['cloud_cover'] = cloud_cover
    geo_df # Save this to CSV anyway so that the user can use it later

    # Get the mean azimuth i.e. optimise between sun and sat
    geo_df['mean_azi'] = (abs(abs(geo_df['sun_azimuth'].values) - 90) + abs((abs(geo_df['satellite_azimuth'].values)-90))) /2
    geo_df = geo_df.sort_values(['cloud_cover', 'mean_azi']) # We want it to be as close to 90 degrees as possible
    geo_df.to_csv(filename, index=False)
    # Pick the first ID then and this will be our training dataaset! 
    return geo_df['ids'].values[1]

In [29]:
from tqdm import tqdm
image_ids = []

tree_ids = df['label'].values
for i in tqdm(range(0, len(polygons))):
    try:
        image_ids.append(build_filter(polygons[i], f'{data_dir}{tree_ids[i]}.csv'))
    except:
        image_ids.append(None)

100%|█████████████| 2/2 [00:02<00:00,  1.16s/it]

In [30]:
df['image_ids'] = image_ids
df

,lat,lon,label,binary_label,x0,x1,y0,y1,image_ids
0,41.98702,9.113119,corsica,0,41.98077,41.99327,9.108614,9.117624,20230513_091902_67_24ca
1,41.59315,9.091850,levie,1,41.58690,41.59940,9.087345,9.096355,20220719_091606_07_2442

In [31]:
df.to_csv(f'{data_dir}planet_scope_selected_image.csv', index=False)

# Download corsica data

Note this has to be done

In [27]:
df = pd.read_csv(f'../data/silver_fir/planet_scope_selected_image.csv')
c = self.get_test_coords()
data = []
image_ids = df['label'].values
lats = df['lat'].values
longs = df['lon'].values
for i in range(0, len(df)):
    aoi = c.build_polygon_from_centre_point(lats[i], longs[i], 5000, 5000, "EPSG:4326")
    # For some reason need to swap it around classic no idea why...
    aoi = [[p[1], p[0]] for p in aoi]
    data.append([aoi, image_ids[i]])

asyncio.run(download(data))

NameError: name 'self' is not defined